streamlit>=1.37.0
pandas>=2.2.2
numpy>=1.26.4
plotly
plotly-express
matplotlib
seaborn
scipy

mysql-connector-python

faiss-cpu>=1.8.0
sentence-transformers>=3.0.1
transformers>=4.43.3
torch>=2.3.1
tqdm>=4.66.4
scikit-learn>=1.5.1
python-dotenv>=1.0.1
google-generativeai>=0.8.3
rapidfuzz>=3.9.6